<section style="background-color: black; color: silver" class="jumbotron text-center">
    <h1>TASK SAVER</h1>
    <h5>Save the tasks you need to get done later</h5>
</section>
<section class="text-center" style="width: 100%; margin: 0 auto; padding-right: 100px; padding-left: 100px">
    <ul class="list-group">
        {{#each tasks}}
            <li class="list-group-item">
                <div class="input-group mb-3 align-items-center">
                    <div style="background-color: transparent; border: none" class="input-group-text">
                        <input  type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                    <p style="margin-bottom: 0">Task: {{this.task}}</p>
                </div>
            </li>
        {{/each}}
    </ul>
</section>

<!-- Post request to the root route-->
<form style=" margin: 0 auto; padding-right: 100px; padding-left: 100px"  action="/" method="POST">
    <textarea style="width: 100%; margin-top: 10px" class="text-center" type="text" name="task"></textarea>
    <button class="btn-block" type="submit">Submit</button>    
</form>
